/*to enable placeholder in the div this css statement says:
select all the elements that are empty, don't are focused and
have the attribute contentEditable set to true and set their text
to be the one they specified in their data-placeholder attribute. */
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-placeholder) }

/*Context Menu*/
nav{
    position: absolute;
    z-index: 10;
    width: 90px;
    background-color: #fff;;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
}

ul{
    list-style: none;
    padding: 0px;
}
li:hover{
    color: #fff;
    background: #0066aa
}
